<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline text-center">
          <li><a href="/contact">Contact</a></li>
          <li><a href="/press-kit">Press Kit</a></li>
          <li>
            <i class="fa fa-twitter-square"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              @{{ site.twitter_username }}
            </a>
          </li>
          <li>
            <i class="fa fa-tumblr-square"></i>
            <a href="http://{{ site.tumblr_username }}.tumblr.com">
              {{ site.tumblr_username }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
