<div class="banner jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/">
          <img class="img-responsive banner-logo" src="/images/logo.png" alt="Different Games">
        </a>
      </div>
      <div class="col-md-9">
        <h1 class="banner-dgc-title">Different Games Collective</h1>
        <h2 class="tagline">
          Inclusive Games Events and Community Resources
        </h2>
      </div>
    </div>
  </div>
</div>

<nav id="nav" class="navbar navbar-default pw-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pw-navbar-home" href="/">Home</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for page in site.nav_pages %}
          {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
