body {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

.banner {
  background-color: $pinwheel-blue;
  background-image: 
    url("/images/banner_pattern.png"),
    url("/images/texture.png");

  .banner-logo {
    margin: 0 auto;
    max-width: 65%;
    background: rgba(103,175,207,1);
    padding: 15px;
    border: 9px solid rgba(56, 61, 88, .5);
    border-radius: 50%;
  }

  .banner-dgc-title {
    font-size: $base-font-size * 2.5;
    text-transform: uppercase;
    color: white;
    font-weight:bolder;
    background: rgba(103,175,207,1);
    padding: 5px;
    display:inline-block;
  }

  &:hover {
    text-decoration: none;
  }


  .tagline {
    text-transform: lowercase;
    display: inline-block;
    line-height: $base-line-height;
    color: white;
    background: rgba(103,175,207,1);
    padding: 5px;
  }
}

.pw-navbar {
  background-color: white;
  @mixin navitem-border($color) {
    border-bottom: 5px solid $color;
  }

  li {
    @include navitem-border(white);
    transition: all .2s linear;
  }

  li:hover {
    @include navitem-border($pinwheel-red);
  }
}

.pw-section {
  padding: 40px;

  a {
    font-weight: bold;
  }
}

.pw-masthead {
  .blurb {
    text-align: center;
    width:80%;
    font-size: $base-font-size * 1.5;
    margin: 0.5em auto 2.5em auto;
    padding: 0.75em;
    border: 2px solid black;
  }
}

.pw-mx {
  text-align: center;
    
  img {
    max-height:100px;
    margin: 0 10px;

    &.grass {
      margin:auto;
      display: block;
      max-width:50%;
    }
  }

}

.site-footer {
  background-color: $pinwheel-yellow;
  color: white;

  a {
    color: white;
  }
}
