body {
    font-family: $base-font-family;
}

.banner {
  background-color: $pinwheel-blue;
  background-image: 
    url("/images/texture.png");

  .banner-logo {
    margin: 0 auto;
  }

  .banner-dgc-title {
    font-size: $base-font-size;
    text-align: center;
    display: inline;
    text-transform: uppercase;
    color: white;
    background-color: $pinwheel-blue;


    &:hover {
      text-decoration: none;
    }
  }

  .tagline {
    width:60%;
    text-transform: lowercase;
    background-color: $pinwheel-blue;
    display: inline;
    line-height: $base-line-height;
    color: white;
  }
}

.pw-navbar {
  background-color: white;

  li {
    border-bottom: 5px solid white;
  }

  li:hover {
    border-bottom: 5px solid $pinwheel-red;
  }
}

.pw-section {
  padding: 40px;
}

.site-footer {
  background-color: $pinwheel-yellow;
  color: white;

  a {
    color: white;
  }
}
