.projects {
  h2 {
    @include nice-blue-header;
  }

  ul {
    list-style-type: none;
    padding: 0px;

    display: block;
    text-align: center;
    margin: 2em 0;

    li {
      display: inline-block;
      background: $pinwheel-blue;
      color: white;
      width: 75%;
      margin: .5em auto;

      a {
        margin: auto auto;
        background: none;
        display: block;
        padding: 0.5em;
        &:hover {
          background: $pinwheel-dark-blue;
        }
      }
    }
  }

  a {
    margin: 0 auto;
    color: white;
    font-weight: bold;
    padding: 1em;
    font-size: 2em;
    transition: all .2s ease-in-out;

    &:hover {
      text-decoration: none;
    }
  }

  p>a{
    display: block;
    text-align: center;
    background: rgba(71,22,73,0.8);
    margin: 2em 0;

    &:hover {
      background: rgba(71,22,73,1)
    }
  }
}